{
  "db": {
    "mongo": {
      "url": "mongodb://localhost/dems"
    },
    "mongoTest": {
      "url": "mongodb://localhost/demsTest"
    }
  },
  "auth": {
    "google": {
      "clientID": "YYYYYYYYYY",
      "clientSecret": "XXXXXXXXXX",
      "callbackURL": "http://localhost:3000/auth/google/callback"
    }
  },
  "email": {
    "user": "xxxxxxxx@xxxxx.xxx",
    "password": "yyyyyyyyyyyy",
    "host": "xxx.xxx",
    "ssl": true,
    "port": 465
  }
}
