<!DOCTYPE html>
<html ng-app="DemS">
  <head>
    <meta charset="utf-8">
    <title>DemS - Web Client</title>

    <!-- CSS -->
      <!-- bower:css -->
      <!-- endbower -->
      <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <!-- CSS End -->

    <!-- JS -->
      <script src="https://maps.google.com/maps/api/js?sensor=false"></script>

      <!-- bower:js -->
      <!-- endbower -->
      <script type="text/javascript" src="../js/services.js"></script>
      <script type="text/javascript" src="../js/app.js"></script>
    <!-- JS End -->
  </head>

  <body ng-controller="CarerController as carerCtrl">

    <!-- HEADER -->
    <div class="header">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Dementia Smart System</a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="hand-pointer" data-toggle="dropdown" class="dropdown-toggle"> {{carer.email}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Whatever</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- CONTECT -->
    <div class="content">
        <!-- ARE FOR ALERTS -->
      <div id="alerts"></div>

      <!-- SPA -->
      <div class="row">
        <div class="col-sm-2 btn-group-vertical">
          <a class="btn btn-default" href="#/patients">Patients</a>
          <a class="btn btn-default" href="#/logs">Logs</a>
          <a class="btn btn-default" href="#/account_details">Account Details</a>
        </div>

        <div class="col-sm-10">
          <div ng-view></div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <p>
        Created by <b>The Swamp Things</b>
      </p>
    </div>
  </body>
</html>
