<!DOCTYPE html>
<html  ng-app="DemS">
  <head>
    <meta charset="utf-8">
    <title>DemS - Web Client</title>

    <!-- CSS -->
      <!-- bower:css -->
        <link rel="stylesheet" type="text/css" href="../libs/bootstrap/dist/css/bootstrap.css" />
      <!-- endbower -->
      <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <!-- CSS End -->

    <!-- JS -->
      <!-- bower:js -->
        <script type="text/javascript" src="../libs/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../libs/angular/angular.js"></script>
        <script type="text/javascript" src="../libs/bootstrap/dist/js/bootstrap.js"></script>
      <!-- endbower -->
      <script type="text/javascript" src="../js/app.js"></script>
    <!-- JS End -->
  </head>

  <body >
    <carer-view></carer-view>
  </body>
</html>