<!DOCTYPE html>
<html ng-app="DemS.maps">
  <head>
    <meta charset="utf-8">
    <title>DemS - Maps Example</title>

    <!-- CSS -->
      <!-- bower:css -->
      <!-- endbower -->
      <link rel="stylesheet" type="text/css" href="../css/style.css" />
      <link rel="stylesheet" type="text/css" href="../css/maps.css" />

    <!-- CSS End -->

    <!-- JS -->
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <!-- bower:js -->
      <!-- endbower -->
      <script type="text/javascript" src="../js/controllers/maps.js"></script>
    <!-- JS End -->
  </head>

  <body>
    <div ng-controller="MapsController as mapsCtrl">
      Enter patient id: <input type="number" ng-model="pid"> <input type="button" value="Enter" ng-click="mapsCtrl.init(pid)">
      <div id="map"></div>
    </div>
    <a href="http://hpneo.github.io/gmaps">gmaps.js Example & Documentation</a>
  </body>
</html>
