<div class="row">
  <div class="col-xs-12">
    <div ng-show="activities != null && activities.length > 0">
      <table class="table">
        <thread>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thread>
        <tbody>
          <tr ng-repeat="activity in activities">
            <td>{{activitiesCtrl.showDate(activity.time)}}</td>
            <td>{{activitiesCtrl.showTime(activity.time)}}</td>
            <td>{{activity.type}}</td>
            <td>{{activity.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-hide="activities != null && activities.length > 0">
      No activities for the {{patient.name}}
    </div>
  </div>
</div>

