<div class="row">
  <div class="col-xs-12">
    <div ng-show="patient.activities != null && patient.activities.length > 0">
      <table class="table">
        <thread>
          <tr>
            <th>Activity ID</th>
            <th>Activity Info 1</th>
            <th>Activity Info 2</th>
            <th>Activity Info 3</th>
          </tr>
        </thread>
        <tbody>
          <tr ng-repeat="activity in patient.activities">
            <td>{{activity.id}}</td>
            <td>{{activity.activity_info1}}</td>
            <td>{{activity.activity_info2}}</td>
            <td>{{activity.activity_info3}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-hide="patient.activities != null && patient.activities.length > 0">
      No activities for the {{patient.first_name + " " + patient.last_name}}
    </div>
  </div>
</div>

