<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thread>
        <tr>
          <th>Patient ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Contact No.</th>
          <th>Last Location</th>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td>{{patient.id}}</td>
          <td>{{patient.first_name}}</td>
          <td>{{patient.last_name}}</td>
          <td>{{patient.contact_number}}</td>
          <td>{{patient.last_location}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
