<div class="row">
  <div class="col-xs-12">
    <div ng-controller="MapsController as mapsCtrl">
      <!-- ALERT MSG IF OUTSIDE -->
      <div ng-hide="inside" class="alert alert-danger">
        {{patient.name}} is outside the fences.
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- LOCATIONS SECTION -->
          <div class="panel panel-default">
            <div class="panel-heading">Locations</div>
            <div class="panel-body">
              <input type="button" value="Current Location" class="btn btn-primary" ng-click="mapsCtrl.CurrentLocation(patient.id)">
              <input type="button" value="Show All" class="btn btn-info" ng-click="mapsCtrl.ShowAll(patient.id)">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- FENCE SECTION -->
          <div class="panel panel-default">
            <div class="panel-heading">Fences</div>
            <div class="panel-body">
              <input type="button" value="Save Fences" class="btn btn-primary" ng-click="mapsCtrl.SaveUpdatedPolygons(patient.id)">
              <input type="button" value="Revert Changes" class="btn btn-danger" ng-click="mapsCtrl.RevertFenceChanges(patient.id)">
            </div>
          </div>
        </div>
      </div>

      <!-- THE MAP -->
      <div id="map" style="width:100%"></div>

    </div>
  </div>
</div>
