<div class="col-xs-2 btn-group-vertical">
  <a ng-repeat="patient in patients" ng-click="setPatient(patient.id)" class="btn btn-default">{{patient.first_name + " " + patient.last_name}}</a>
</div>

<div class="col-xs-10">
  <div ng-show="patient == null">
    Select a patient to view the locations
  </div>

  <div ng-hide="patient == null">
    <div ng-show="patient.locations != null && patient.locations.length > 0">
      <table class="table">
        <thread>
          <tr>
            <th>Location ID</th>
            <th>Location Info 1</th>
            <th>Location Info 2</th>
            <th>Location Info 3</th>
          </tr>
        </thread>
        <tbody>
          <tr ng-repeat="location in patient.locations">
            <td>{{location.id}}</td>
            <td>{{location.location_info1}}</td>
            <td>{{location.location_info2}}</td>
            <td>{{location.location_info3}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-hide="patient.locations != null && patient.locations.length > 0">
      No locations for the {{patient.first_name + " " + patient.last_name}}
    </div>
  </div>
</div>