<div ng-controller="MapsController as mapsCtrl">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <!-- ALERT MSG IF OUTSIDE -->
        <div ng-hide="inside" class="alert alert-danger">
          {{patient.name}} is outside the fences.
        </div>

        <div class="row">
          <div class="col-md-6">
            <!-- LOCATIONS SECTION -->
            <div class="panel panel-default">
              <div class="panel-heading">Locations</div>
              <div class="panel-body">
                <input type="button" value="Current Location" class="btn btn-primary" ng-click="mapsCtrl.currentLocation(patient.id)">
                <input type="button" value="Show Tracking" class="btn btn-info" ng-click="mapsCtrl.showTracking(patient.id)">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- FENCE SECTION -->
            <div class="panel panel-default">
              <div class="panel-heading">Fences</div>
              <div class="panel-body">
                <input type="button" value="Save Fences" class="btn btn-primary" ng-click="mapsCtrl.saveUpdatedPolygons(patient.id)">
                <input type="button" value="Revert Changes" class="btn btn-danger" ng-click="mapsCtrl.revertFenceChanges(patient.id)">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8">
            <!-- THE MAP -->
            <div id="map" class="full-width"></div>
          </div>

          <div class="col-xs-4">
            <!-- FENCE LIST -->
            <div class="panel panel-default full-width">
              <div class="panel-heading">Saved Fences</div>
              <div class="panel-body no-padding">
                <table class="full-width table table-striped no-margin">
                  <tr ng-repeat="fence in mapsCtrl.fences" ng-show="mapsCtrl.isFenceComplete(fence)" class="padding-top-bottom">
                    <td>
                      {{fence.name}}&nbsp;<span ng-show="fence.notifyCarer" class="glyphicon glyphicon-envelope"></span>
                    </td>
                    <td>
                      <a class="btn btn-info btn-xs" ng-click="mapsCtrl.moveToFence($index)"><span class="glyphicon glyphicon-search"></span></a>
                    </td>
                    <td>
                      <a class="btn btn-primary btn-xs" ng-click="mapsCtrl.editFenceName(patient.id, $index)"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                      <a class="btn btn-danger btn-xs" ng-click="mapsCtrl.deleteFence(patient.id, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- MODALS -->

  <div class="modal fade" id="editFenceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">New Fence</h4>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-xs-3">
              <label for="editFenceName">Fence Name</label>
            </div>
            <div class="col-xs-9">
              <input type="text" class="form-control" id="editFenceName" ng-model="editFence.name" placeholder="Fence Name">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3">
              <label for="editFenceNofityCarer">Notify Carer</label>
            </div>
            <div class="col-xs-9">
              <input type="checkbox" id="editFenceNofityCarer" ng-model="editFence.notifyCarer" placeholder="Fence Name">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary" data-dismiss="modal">Save</a>
        </div>
      </div>
    </div>
  </div>
</div>

