<!-- This will contain a log of important notifications for the carer - loaded in the carer-view. -->

<p>Currently under construction, come back later!</p>

<table class="table">
	<thread>
		<tr>
			<th>Log ID</th>
			<th>Log Info 1</th>
			<th>Log Info 2</th>
			<th>Log Info 3</th>
		</tr>
	</thread>
	<tbody>
		<!-- Use a ng-repeat to display -->
		<tr ng-repeat="log in logs">
			<td>{{log.id}}</td>
			<td>{{log.log_info1}}</td>
			<td>{{log.log_info2}}</td>
			<td>{{log.log_info3}}</td>
		</tr>
	</tbody>
</table>