
<a ng-click="patientsCtrl.toggleSideBar(true)">
  <div id="toggle" class="sidebar">
    <b class="caret caret-left"></b>
  </div>
</a>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a ng-click="patientsCtrl.addPatient()" data-toggle="modal" data-target="#addPatientModal" class="hand-pointer"> + Add a Patient + </a>
          </li>
          <li ng-repeat="patient in arrayOfPatients" ng-click="patientsCtrl.setPatient(patient.id)" class="hand-pointer" data-patient-id="{{patient.id}}" data-area="side-bar-link">
              <a>{{patient.name}}</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          <!-- AREA FOR ALERTS -->
          <div id="alerts"></div>
          <!-- END AREA FOR ALERTS -->

          <div ng-show="patient == null">
            Select a patient to view the details
          </div>

          <div ng-hide="patient == null">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a role="tab" data-toggle="tab" ng-click="patientsCtrl.setTab('#details')">Details</a></li>
              <li><a role="tab" data-toggle="tab" ng-click="patientsCtrl.setTab('#locations')">Locations</a></li>
              <li><a role="tab" data-toggle="tab" ng-click="patientsCtrl.setTab('#reminders')">Reminders</a></li>
              <li><a role="tab" data-toggle="tab" ng-click="patientsCtrl.setTab('#activities')">Activities</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content patients">
              <div class="tab-pane active" id="details">
                <div details></div>
              </div>
              <div class="tab-pane" id="locations">
                <div locations></div>
              </div>
              <div class="tab-pane" id="reminders">
                <div reminders></div>
              </div>
              <div class="tab-pane" id="activities">
                <div activities></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!--Add new patient modal-->
  <div class="modal fade" id="addPatientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Connect to Patient</h4>
      </div>
      <div class="modal-body">
        Patient ID: <input type="text" ng-model="newPatient.id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" data-dismiss="modal" ng-click="patientsCtrl.addPatientToCarerRelationsship()">Add</a>
      </div>
    </div>
  </div>
</div>
