<div class="col-xs-2 btn-group-vertical">
  <a ng-click="addPatient()" class="btn btn-primary"> + Add a Patient + </a>

  <a ng-repeat="patient in patients" ng-click="setPatient(patient.id)" class="btn btn-default">{{patient.first_name + " " + patient.last_name}}</a>
</div>

<div class="col-xs-10">
  <div ng-show="patient == null">
    Select a patient to view the details
  </div>

  <div ng-hide="patient == null">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a role="tab" data-toggle="tab" ng-click="setTab('#details')">Details</a></li>
      <li><a role="tab" data-toggle="tab" ng-click="setTab('#locations')">Locations</a></li>
      <li><a role="tab" data-toggle="tab" ng-click="setTab('#reminders')">Reminders</a></li>
      <li><a role="tab" data-toggle="tab" ng-click="setTab('#activities')">Activities</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="details" ng-controller="DetailsController">
        <div details></div>
      </div>
      <div class="tab-pane" id="locations" ng-controller="LocationsController">
        <div locations></div>
      </div>
      <div class="tab-pane" id="reminders" ng-controller="RemindersController">
        <div reminders></div>
      </div>
      <div class="tab-pane" id="activities" ng-controller="ActivitiesController">
        <div activities></div>
      </div>
    </div>
  </div>

</div>
