<div class="col-xs-2 btn-group-vertical">
  <a ng-repeat="patient in patients" ng-click="setPatient(patient.id)" class="btn btn-default">{{patient.first_name + " " + patient.last_name}}</a>
</div>

<div class="col-xs-10">
  <div ng-show="patient == null">
    Select a patient to view the virtual fences
  </div>

  <div ng-hide="patient == null">
    <div ng-show="patient.virtualFences != null && patient.virtualFences.length > 0">
      <table class="table">
        <thread>
          <tr>
            <th>Virtual Fence ID</th>
            <th>Virtual Fence Info 1</th>
            <th>Virtual Fence Info 2</th>
            <th>Virtual Fence Info 3</th>
          </tr>
        </thread>
        <tbody>
          <tr ng-repeat="virtualFence in patient.virtualFences">
            <td>{{virtualFence.id}}</td>
            <td>{{virtualFence.virtualFence_info1}}</td>
            <td>{{virtualFence.virtualFence_info2}}</td>
            <td>{{virtualFence.virtualFence_info3}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-hide="patient.virtualFences != null && patient.virtualFences.length > 0">
      No virtual fences for the {{patient.first_name + " " + patient.last_name}}
    </div>
  </div>
</div>